@font-face {
    font-family: "OpenSans-Regular";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url("fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

/* --- General --- */
* {
    line-height: 1.5;
    font-size: 16px;
    font-family: "OpenSans-Regular", sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto 200px 800px auto;
    margin: 0;
}

h1, h2, h3 {
    font-family: "OpenSans-Medium", sans-serif;
    margin: 0;
}

p {
    padding-bottom: 10px;
    margin: 0;
}

a {
    color: #1192e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-family: "OpenSans-Bold", sans-serif;
}

/* --- Barra de navegación --- */
nav {
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    padding: 10px;
    list-style-type: none;
}

nav a {
    color: black;
    font-size: 20px;
}

#icon {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: flex;
    align-items: center;
    border: none;
    color: black;
    background-color: white;
    padding: 10px;
}

button img {
    width: 30px;
}

button span {
    font-size: 20px;
    padding: 0 10px;
}

/* --- Encabezado --- */
h1 {
    font-size: 35px;
    padding: 20px 0 10px;
    margin: 0;
}

header {
    grid-column: 3;
}

/* --- Introducción --- */
#intro {
    padding-bottom: 10px;
}

/* --- Secciones --- */
article {
    grid-column: 3;
    padding-bottom: 25px;
}

article h2 {
    padding: 10px 0;
}

section {
    display: none;
    padding: 0 10px;
}

ul, ol {
    padding: 0 0 10px 30px;
    margin: 0;  
}

figure {
    margin: 0;
}

/* --- Tablas --- */
td, th {
    padding: 5px 10px;
    text-align: left;
}

th {
    font-family: "OpenSans-Bold";
}

table, th, td {
    border: 1px solid #6f6f6f;
    border-collapse: collapse;
}

.center {
    margin: 10px auto; 
}

.collapse-button {
    display: block;
    background-color: #f4f4f4;
    box-shadow: 1px 2px 1px 1px #c6c6c6;
    text-align: left;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
}

.section-collapse {
    display: block;
}

.img-fluid {
    display: block;
    max-height: 400px;
    padding: 10px;
}

section .MathJax_Display {
    padding-bottom: 10px;
    margin: 0;
}

figcaption p {
    text-align: center;
    color: #4d5358;
}

/* --- Blocks --- */
.block {
    background-color: #d0e2ff;
    padding: 0;
    margin-bottom: 10px;
}

.block p {
    padding: 5px;
}

.remark {
    background-color: #002d9c;
    color: white;
    padding: 5px;
}

/* --- Responsive --- */
@media screen and (min-width: 900px) {
    .img-fluid {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #navbarToggler {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    body {
        display: grid;
        grid-template-columns: auto 15px 1fr 15px;
    }

    nav {
        grid-column: 3;
    }

    nav ul {
        display: none;
    }

    #icon {
        width: 50%;
    }

    .img-fluid {
        max-width: 95%;
    }

    .navbar-collapse {
        display: block;
    }
}
